# Ignore all .log files
*.log

src/astro_prost/_version.py

obsolete/
sfddata-master/

# Ignore all directories named "temp"
temp/
tests/*

# Ignore a specific file
secrets.json

# Ignore all files with the .tmp extension in the root directory
*.tmp

# Ignore all files in a directory, but not the directory itself
temp/*

# Exception: do not ignore a specific file
!important.log
